---
---
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

body {
  background-color: #F2F2F2;
}

article p img {
  margin: 30px auto 0;
}

article a:hover {
  color: #000;
}

p, .about_main_content {
  line-height: 1.66;
  font-size: 18px;
  font-weight: 100;
}

.selfie {
  max-width: 200px;
  border: 10px solid #FFF;
  margin: 36px auto 0;
}

.small {
  font-size: 15px;
}

.underline {
  text-decoration: underline;
}

.about_social_icons {
  li {
    display: inline-block;
    float: right;
  }
}

.picture_wrapper {
  padding: 15px;
  background-color: #fff;
  margin-bottom: 70px;
}

.nav_links {
  padding-bottom: 100px;
}

.call-out {
  h1 {
    font-size: 20px;
    background-color: #000;
    color: #FFF;
    padding: 5px;
    font-family: 'Lato', SANS-SERIF;
    font-weight: 100;
    width: 90%;
  }
}

h4.co_h4_one {
  font-size: 20px;
  background-color: #000;
  width: 80%;
  color: #FFF;
  padding: 5px;
  font-family: 'Lato', SANS-SERIF;
  font-weight: 100;
}

h4.co_h4_two {
  font-size: 20px;
  background-color: #000;
  width: 40%;
  color: #FFF;
  padding: 5px;
  font-family: 'Lato', SANS-SERIF;
  font-weight: 100;
}

.header_text {
  text-transform: lowercase;
  letter-spacing: 5px;
}

.call-out ul li a {
  color: #000;
}

.triangle_overflow_hidden {
  position: relative;
  overflow: hidden;
}

.site-header a {
  font-weight: normal;
}

// Diamonds
.diamond {
  height: 150px;
  width: 150px;
  background-color: #F9653E;
  // background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  top: 100px;
  left: 150px;
}

.diamond2 {
  height: 100px;
  width: 100px;
  background-color: #F9653E;
  // background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  top: 200px;
  left: 400px;
}

// Triangle
#triangle-left {
  width: 0;
  height: 0;
  border-top: 400px solid transparent;
  border-right: 440px solid lighten(grey, 20%);
  border-bottom: 400px solid transparent;
  position: absolute;
  transform: rotate(-133deg);
  right: -80px;
  top: 30px;
}

.project_titles {
  background-color: rgba(255,255,255,1);
  color: #000;
  font-family: 'Lato', SANS-SERIF;
  text-transform: lowercase;
  letter-spacing: 5px;
  width: 60%;
  padding: 5px;
}

.work_title {
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  font-weight: 100;
}

.posts_margin {
  // margin-top: 57.312px;
}

.post-link {
  letter-spacing: 5px;
  text-transform: lowercase;
  text-decoration: line-through;
}

.footer_back_to_top {
  border: 1px solid #000;
  padding-top: 5px;
  color: #000;
  color: #FFF;
  transition: all .3s;
  text-transform: lowercase;
  position: absolute;
  right: 40px;
  margin-top: -15px;
  width: 30px;
  height: 30px;

  &:hover {
    background-color: #FFF;
    color: #000;
  }
}

.delay_point_3s {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.delay_point_5s {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s; 
}

.post_header_title {
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  font-weight: 100;
}

// About Page

.about_page {
  h1 {
    background-color: transparent;
  }
}

.pb0 {
  padding-bottom: 0;
}

.call-out .mb58 {
  margin: 1.5em auto 58.5px;
  background-color: rgba(255,255,255,1);
}

.about_social_icons {
  a {
    color: #000;
  }
}

.mb0 {
  margin-bottom: 0;
}

// Thank You Page

.thank_you_content {
  background-color: #FFF;
  width: 50%;
  margin: 0 auto;
  padding: 10px;

  p {
    margin-bottom: 0;
    border: 2px solid;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
}

// Contact Page

.post-content {
  .contact_h3, form {
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    font-weight: 100;
  }
}

.post-content form input[type="text"], .post-content form input[type="email"], .post-content form textarea {
  border-radius: 0;
  border: none;
}

// Contact Page Submit Button

/* To Navigation Style */

// important
.container > section p {
  position: relative;
  z-index: 1;
}

.no_pl {
  padding-left: 0;
}

/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: 12px;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
  font-weight: 100;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Button 1 */
.btn-1 {
  border: 3px solid #F5613B;
  color: #000;
}

/* Button 1e */
.btn-1e {
  overflow: hidden;
}

.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
  color: #F5613B;
}

.btn-1e:hover:after {
  height: 260%;
  opacity: 1;
}

.btn-1e:active:after {
  height: 400%;
  opacity: 1;
}