/*
  Containers
*/

section.demo * {
  font-size: 13px;
}
section.demo {
  font-size: 0;
  text-align: center;
  background-image: url("../img/example_bg_v.png");
}
section.demo.fullheight {
  min-height: 100%;
}
section.demo.doublewidth, .spacer.doublewidth {
  min-width: 200%;
}
.horizontal section.demo {
  text-align: inherit;
  white-space: nowrap;
  background-image: url("../img/example_bg_h.png");
}
.horizontal section.demo.fullwidth {
  min-width: 100%;
}

/*
  Elements
*/

.spacer {
  text-align: center;
  min-height: 100px;
  background-image: url("../img/example_bg_spacer_v.gif");
}

.spacer.s1 {
  min-height: 100px;
}

.spacer.s_viewport {
  min-height: 100%;
}
.horizontal .spacer {
  background-image: url("../img/example_bg_spacer_h.gif");
  margin-bottom: 0;
  min-height: initial;
  min-width: 100px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.horizontal .spacer.s0 {
  min-width: 1px;
}
.horizontal .spacer.s1 {
  min-width: 100px;
}

.spacer.s_viewport {
  min-width: 100%;
}

/*
  OTHER
*/

#parallax1 > div, #parallax2 > div, #parallax3 > div {
  -webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000;
}

.demo.responsiveDuration {
  position: relative;
}

.demo#section-slides, .demo#section-wipes {
  height: 100%;
  width: 100%;
  background-image: none;
}
.demo#section-slides .panel, .demo#section-wipes .panel {
  background-image: url("../img/example_bg_spacer_v.gif");
}
.demo#section-wipes #pinContainer .turqoise, .demo#section-wipes #pinContainer .green, .demo#section-slides #slideContainer .panel {
  background-image: url("../img/example_bg_spacer_h.gif");
}
.demo#section-slides .panel > b, .demo#section-wipes .panel > b {
  font-size: 15px;
  color: white;
  position: relative;
  display: block;
  height: 0;
  overflow: visible;
  top: 50%;
}