<header class="site-header pb0">
  <section>
    <nav class="site-nav cl-effect-1" id="cl-effect-1">
      <ul>
        <li><a class="page-link" href="/">Home</a></li>
        <li><a class="page-link" href="/about">About</a></li>
        <li><a class="page-link" href="/contact">Contact</a></li>
      </ul>
      <hr class="nav_hr">
    </nav>
  </section>

  {% if site.theme.header_text %}
  <div class="call-out pb0 about_page text-center" 
  style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.theme.title }}</a>
      <br>
      <img src="{{ site.baseurl }}/img/selfie-2.jpg" alt="Jason Quaccia" class="selfie">
    </h1>
    <div class="divider mb58"></div>
  </div>
  {% endif %}
</header>
